/* ProjectsComponent's private CSS styles */
.project {
  display: flex;
  grid-gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30%;
  min-width: 325px;
}

.project-list p:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.project-list p:active {
  background-color: #525252;
  color: #fafafa;
}

.selected-project{
  width: 50%;
  min-width: 325px;
  box-shadow: 0 0 4px 1px #dddddd;
  margin-top: 6px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.selected-project .description{
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
}

.project-property-name {
  font-weight: bold;
 }

.task-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.task-list .edit-link {
  margin-right: 0.35rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-top: 0.3rem;
}

.selected-task {
  box-shadow: 0 0 4px 1px #dddddd;
  padding: 1rem 1.5rem 1.5rem 2rem;
}

.state-badge {
  margin-right: 0.5em;
  border-radius: 4px;
  padding: 0.1em;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  height: 2.5em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

li {
  position: relative;
  cursor: pointer;
}

li:hover {
  left: .1em;
}

.list-item {
  color: #333;
  box-shadow: 0 0 4px 1px #dddddd;
  text-decoration: none;
  height: 2em;
  border-radius: 4px;
  display: block;
  width: 100%;
}