<div class="component-wrapper"> 
  <h2>Projects<a class="add-link" routerLink="/projects/add">+</a></h2>
  <div class="project">
    <ul class="project-list">
      <li *ngFor="let project of projects"
        [class.selected]="project === selectedProject"
        (click)="onSelect(project)">
        <p class="list-item"><span class="badge">{{project.id}}</span> {{project.name}}</p>
      </li>
    </ul>
    <div class="selected-project" *ngIf="selectedProject" >
      <h2><span>Project #</span>{{selectedProject.id}} {{selectedProject.name | uppercase}}<a class="edit-link" routerLink="/projects/{{selectedProject.id}}">edit</a></h2>
      
      <p>
        <span style="font-style: italic;">by {{selectedProject.author.firstName}} {{selectedProject.author.lastName}} at {{selectedProject.createdAt | uadate: "HH:mm d MMMM yyyy"}}</span>
        <span  style="float: right;"><span class="project-property-name">Deadline: </span>{{selectedProject.deadline | uadate: "HH:mm d MMMM yyyy"}}</span>
      </p>

      <div class="description">{{selectedProject.description}}</div>
      <p><span class="project-property-name" >Team: </span>{{selectedProject.team.name}}</p>

      <hr>

      <h2>Tasks<a class="add-link" routerLink="/projects/{{selectedProject.id}}/tasks/add">+</a></h2>
      <ul class="task-list">
        <li *ngFor="let task of selectedProject.tasks" [class.selected]="task === selectedTask"
          (click)="onSelectTask(task)">
          <p class="list-item"><span class="badge" appTaskState [state]="task.state">{{task.id}}</span> {{task.name}} <a class="edit-link" *ngIf="task['state'] !== taskStates.Completed" routerLink="/projects/{{selectedProject.id}}/tasks/{{task.id}}">edit</a></p>
        </li>
      </ul>

      <div class="selected-task" *ngIf="selectedTask">
        <h4><span><span class="state-badge" appTaskState [state]="selectedTask.state">{{taskStates[selectedTask.state]}}</span>Task #</span>{{selectedTask.id}} {{selectedTask.name | uppercase}}</h4>
        <p>
          <span style="font-style: italic;">Created at {{selectedTask.createdAt | uadate: "HH:mm d MMMM yyyy"}}</span>
          <span *ngIf="selectedTask.finishedAt" style="float: right;"><span class="project-property-name">Finished at </span>{{selectedTask.finishedAt | uadate: "HH:mm d MMMM yyyy"}}</span>    
        </p>
        <div class="description">{{selectedTask.description}}</div>
        <p><span class="project-property-name" >Performer: </span>{{selectedTask.performer.firstName}} {{selectedTask.performer.lastName}}</p>
      </div>
    </div>
  </div>
</div>