<div class="component-wrapper"> 
  <h2 *ngIf="isNewTeam" >New team</h2>
  <h2 *ngIf="!isNewTeam">Edit team #{{f['id'].value}} </h2>
  <form class="team-form"  [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onSubmit()"> 
    <label>Name</label>
    <input class="input-control" formControlName="name" placeholder="Name"/>
    <div *ngIf="f['name'].errors && (f['name'].touched || f['name'].dirty)" class="errors">
      <div *ngIf="f['name'].errors['required']">*Name is Required</div>
    </div>
    
    <div class="form-group">
      <button *ngIf="isNewTeam">Create team</button> 
      <button *ngIf="!isNewTeam">Update team</button> 
      <button routerLink="/teams">Back</button>
    </div>
  </form>
</div>