/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav {
  box-shadow: 0 0 4px 1px #dddddd;
  padding-left: 2rem;
}

nav a {
  padding: 1.3rem 1rem;
  text-decoration: none;
  display: inline-block;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
}
