<div class="component-wrapper">
  <h2 *ngIf="isNewUser" >New user</h2>
  <h2 *ngIf="!isNewUser">Edit user #{{f['id'].value}}</h2>
  <form class="user-form" [formGroup]="userForm" (ngSubmit)="userForm.valid && onSubmit()"> 
    <label>First name</label>
    <input class="input-control" formControlName="firstName" placeholder="First name"/>
    <div *ngIf="f['firstName'].errors && (f['firstName'].touched || f['firstName'].dirty)" class="errors">
      <div *ngIf="f['firstName'].errors['required']">*First name is Required</div>
      <div *ngIf="f['firstName'].errors['minlength']">*First name must longest than 2 letters</div>
      <div *ngIf="f['firstName'].errors['maxlength']">*First name must shortest than 26 letters</div>
    </div>
  
    <label>Last name</label>
    <input class="input-control" formControlName="lastName" placeholder="Last name"/>
    <div *ngIf="f['lastName'].errors && (f['lastName'].touched || f['lastName'].dirty)" class="errors">
      <div *ngIf="f['lastName'].errors['required']">*Last name is Required</div>
      <div *ngIf="f['lastName'].errors['minlength']">*Last name must longest than 2 letters</div>
      <div *ngIf="f['lastName'].errors['maxlength']">*Last name must shortest than 30 letters</div>
    </div>
  
    <label>Email</label>
    <input type="email" class="input-control" formControlName="email" placeholder="Email"/>
    <div *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)" class="errors">
      <div *ngIf="f['email'].errors['required']">*Email is Required</div>
      <div *ngIf="f['email'].errors['email']">*Email must be a valid email address</div>
    </div>
  
    <label>Birthday</label>
    <input type="date" class="input-control" formControlName="birthDay"/>
    <div *ngIf="f['birthDay'].errors && (f['birthDay'].touched || f['birthDay'].dirty)" class="errors">
      <span *ngIf="f['birthDay'].errors['required']">*Birthday is Required</span>
    </div>
  
    <label>Team</label>
    <select class="input-control" formControlName="teamId" >
      <option disabled value=""> --- Select Team --- </option>
      <option  *ngFor="let team of teams" [value]="team.id">
        {{team.name}}
      </option>
    </select>
    <div *ngIf="f['teamId'].errors && (f['teamId'].touched || f['teamId'].dirty)" class="errors">
      <span *ngIf="f['teamId'].errors['required']">*Birthday is Required</span>
    </div>
    
    <div class="form-group">
      <button *ngIf="isNewUser">Create user</button> 
      <button *ngIf="!isNewUser">Update user</button> 
      <button routerLink="/users">Back</button>
    </div>
  </form>
</div>