/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0px;
}

button {
  flex: none;
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 1px #dddddd;
  padding: 20px;
  width: 50%;
  min-width: 325px;
}

label {
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

.input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 4px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px #dddddd;
}

.errors{
  margin-bottom: 5px;
  color: red;
}

.component-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.form-group {
  display: flex;
  grid-gap: 10px;
  flex-direction: row;
  margin-top: 10px;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.add-link {
  text-decoration: none;
  position: relative;
  top: 5px;
  color: cadetblue;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  font-size: 150%;
}

.edit-link {
  float: right;
  text-decoration: none;
  color: #bbbb0e;
  border-radius: 4px;
  font-size: 12pt;
  font-weight: bold;
  padding: 0.3rem;
}

a:hover {
  color: white;
  background-color: #42545C;
}

table {
	border-collapse: collapse;
}

table td {
	padding: 0.8em;
}

table th {
	background-color: #405061;
  padding: 0.8em;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #405061;
}

table td {
	color: #636363;
	border: 1px solid #dddfe1;
}

table tr {
	background-color: #f9fafb;
}

table tr:nth-child(odd) {
	background-color: #ffffff;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}