<div class="component-wrapper"> 
  <h2>Teams<a class="add-link" routerLink="/teams/add">+</a></h2>
  <table>
    <tr><th>#</th><th>Name</th><th>Created</th><th></th></tr>
    <tr *ngFor="let team of teams">
      <td>{{team.id}}</td>
      <td>{{team.name}}</td>
      <td>{{team.createdAt | uadate: "HH:mm d MMMM yyyy"}}</td>
      <td><a class="edit-link" routerLink="/teams/{{team.id}}">edit</a></td>
    </tr>
  </table>
</div>