<div class="component-wrapper">
  <h2 *ngIf="isNewTask" >Project "{{f['projectName'].value}}"/New task</h2>
  <h2 *ngIf="!isNewTask">Project "{{f['projectName'].value}}"/Edit task #{{f['id'].value}}</h2>
  <form class="task-form" [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onSubmit()"> 
    <label>Name</label>
    <input class="input-control" formControlName="name" placeholder="Name"/>
    <div *ngIf="f['name'].errors && (f['name'].touched || f['name'].dirty)" class="errors">
      <div *ngIf="f['name'].errors['required']">*Name is Required</div>
      <div *ngIf="f['name'].errors['maxlength']">*Name must be shortest than 100 letters</div>
    </div>
  
    <label>Description</label>
    <textarea class="input-control" formControlName="description" placeholder="Description"></textarea>
    <div *ngIf="f['description'].errors && (f['description'].touched || f['description'].dirty)" class="errors">
      <div *ngIf="f['description'].errors['maxlength']">*Description must be shortest than 300 letters</div>
    </div>
  
    <div *ngIf="isNewTask">
      <label>Performer</label>
      <select class="input-control" formControlName="performerId">
        <option disabled value=""> --- Select Performer --- </option>
        <option  *ngFor="let performer of performers" [value]="performer.id">
          {{performer.firstName}} {{performer.lastName}}
        </option>
      </select>  
      <div *ngIf="f['performerId'].errors && (f['performerId'].touched || f['performerId'].dirty)" class="errors">
        <div *ngIf="f['performerId'].errors['required']">*Performer is Required</div>  
      </div>
    </div>
  
    <div *ngIf="!isNewTask">
      <label>State</label>
      <select class="input-control" formControlName="state" appTaskState [state]="f['state'].value">
        <option [ngValue]="taskStates.Created"  appTaskState [state]="taskStates.Created">Created</option>
        <option [ngValue]="taskStates.Started" appTaskState [state]="taskStates.Started">Started</option>
        <option [ngValue]="taskStates.Completed" appTaskState [state]="taskStates.Completed">Completed</option>
        <option [ngValue]="taskStates.Canceled" appTaskState [state]="taskStates.Canceled">Canceled</option>
      </select>
      <div *ngIf="f['state'].errors && (f['state'].touched || f['state'].dirty)" class="errors">
        <div *ngIf="f['state'].errors['required']">*Performer is Required</div>  
      </div>
    </div>
  
    <div class="form-group">
      <button *ngIf="isNewTask">Create task</button> 
      <button *ngIf="!isNewTask">Update task</button> 
      <button routerLink="/projects">Back</button>
    </div>
  </form>
</div>