<div class="component-wrapper">
<h2>Users<a class="add-link" routerLink="/users/add">+</a></h2>
<table>
  <tr><th>#</th><th>Name</th><th>Birthday</th><th>Email</th><th>Team</th><th>Registered</th><th></th></tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.birthDay | uadate }}</td>    
    <td>{{user.email}}</td>
    <td *ngIf="user.team">{{user.team.name}}</td>
    <td *ngIf="!user.team"></td>
    <td>{{user.registeredAt | uadate: "HH:mm d MMMM yyyy"}}</td>
    <td><a class="edit-link" routerLink="/users/{{user.id}}">edit</a></td>
  </tr>
</table>
</div>