<div class="component-wrapper"> 
  <h2 *ngIf="isNewProject" >New project</h2>
  <h2 *ngIf="!isNewProject">Edit project #{{f['id'].value}}</h2>
  <form class="project-form" [formGroup]="projectForm" (ngSubmit)="projectForm.valid && onSubmit()"> 
    <label>Name</label>
    <input class="input-control" formControlName="name" placeholder="Name"/>
    <div *ngIf="f['name'].errors && (f['name'].touched || f['name'].dirty)" class="errors">
      <div *ngIf="f['name'].errors['required']">*Name is Required</div>
      <div *ngIf="f['name'].errors['maxlength']">*Name must be shortest than 100 letters</div>
    </div>
  
    <label>Description</label>
    <textarea class="input-control" formControlName="description" placeholder="Description"></textarea>
    <div *ngIf="f['description'].errors && (f['description'].touched || f['description'].dirty)" class="errors">
      <div *ngIf="f['description'].errors['maxlength']">*Description must be shortest than 300 letters</div>
    </div>
  
    <label>Deadline</label>
    <input type="datetime-local" class="input-control" formControlName="deadline"/>
    <div *ngIf="f['deadline'].errors && (f['deadline'].touched || f['deadline'].dirty)" class="errors">
      <div *ngIf="f['deadline'].errors['required']">*Deadline is Required</div>
    </div>
    
    <div class="form-group">
      <label>Author</label>
      <select class="input-control" formControlName="authorId">
        <option disabled value=""> --- Select Author --- </option>
        <option  *ngFor="let author of authors" [value]="author.id">
          {{author.firstName}} {{author.lastName}}
        </option>
      </select>
  
      <label>Team</label>
      <select class="input-control" formControlName="teamId">
        <option disabled value=""> --- Select Team --- </option>
        <option  *ngFor="let team of teams" [value]="team.id">
          {{team.name}}
        </option>
      </select>
   </div>
  
   <div *ngIf="f['authorId'].errors && (f['authorId'].touched || f['authorId'].dirty)" class="errors">
     <div *ngIf="f['authorId'].errors['required']">*Author is Required</div>
   </div>
   <div *ngIf="f['teamId'].errors && (f['teamId'].touched || f['teamId'].dirty)" class="errors">
     <div *ngIf="f['teamId'].errors['required']">*Team is Required</div>
   </div>
  
    <div class="form-group">
      <button *ngIf="isNewProject">Create project</button> 
      <button *ngIf="!isNewProject">Update project</button> 
      <button routerLink="/projects">Back</button>
    </div>
  </form>
</div>